body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300, 600, 800;
  background-color:hsl(0, 0%, 98%);
  color:(200, 15%, 8%);
}
.dark-body{
  background-color:hsl(207, 26%, 17%);
  color:hsl(0, 0%, 100%)
}
.dark-card{
  background-color:hsl(209, 23%, 22%)
}
.hide{
  visibility:hidden;
}
header p .black{
  visibility:hidden;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  color: black;
  text-align: center;
  width: 100%;
}
.search-bar {
  margin-top: 10px;
  height: 50px;
}
.search {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  border: solid 1px black;
  box-shadow: 0px 1px 9px gray;
}

.display {
  margin: 20px auto;
}
.content-three .border {
  border: solid 1px black;
  margin: 5px;
}
.bold-text {
  font-weight: bolder;
  
}
.input-box,.select-box{
  box-shadow: 0px 1px 9px gray;
}


.card{
  display:flex;
  flex-wrap: wrap;
  height:500px;
  margin:5px;
  box-shadow: 0px 1px 9px gray;
}
.card-text{
margin-left:10px;
}
.input-search{
  width:200px;
  height:50px;
  font-weight:bolder
  
}
.select-box{
  width:100px;
  height:30px;
  font-weight:bolder;
}
.btn-home{
  margin:10px;
  width:50px;
  height: 40px;
}